#page-wrapper {
  min-height: 0px !important;
}

.fc {
  font-family: inherit;
}

.fc .fc-toolbar-title {
  color: #555555;
  font-weight: 300;
  font-family:'Amazon Ember';
}

.fc .fc-timegrid, .fc-daygrid {
  background-color: #f5f5f5;
}

#label1 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 12px;
  padding-right: 40px;
}