div {
    min-width: min-content;
}

tr:nth-child(odd){
    background-color: black !important;
}

tr:nth-child(even){
    background-color: grey !important;
}

.table > thead > tr > th {
    background: #5e5b5b !important;
}

table.dataTable thead .sorting::after{
    right: .2em !important;
    content: "↓" !important;
    color: white !important;
}

table.dataTable thead .sorting_desc::after {
    content: "↓";
}

.btn {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.panel-default{
    max-width: 1300px !important;
}
/* Alerts Active################################################################## */

#table_alerts_active{
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
}

#table_alerts_active_length{
    float: left;
    padding-top: 25px;
    padding-left: 25px;
}

#table_alerts_active_filter{
    padding-top: 25px;
    padding-right: 25px;
}

#table_alerts_active_info{
    float: left;
    padding-left: 25px;
}

#table_alerts_active_paginate{
    padding-right: 25px;
}

/* Alerts Log################################################################## */

#table_alerts_log{
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
}

#table_alerts_log_length{
    float: left;
    padding-top: 25px;
    padding-left: 25px;
}

#table_alerts_log_filter{
    padding-top: 25px;
    padding-right: 25px;
}

#table_alerts_log_info{
    float: left;
    padding-left: 25px;
}

#table_alerts_log_paginate{
    padding-right: 25px;
}